<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>⛄️ Multi LLMs Tool</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <style>
      .custom-height {
        height: 80vh;
      }
      .copy-btn-div {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      .navbar-brand {
        margin-right: auto;
      }
      .spinner-border {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        margin-top: 5px;
        margin-left: 5px;
        background-color: bisque;
      }
    </style>
    <script
      src="https://kit.fontawesome.com/c0d69eab43.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">⛄️ Multi LLMs Tool</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="actionsDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Actions
              </a>
              <div class="dropdown-menu" aria-labelledby="actionsDropdown">
                <a class="dropdown-item" href="#" onclick="exportTextarea()">Export</a>
                <a class="dropdown-item" href="#" onClick="copyAllToClipboard()">Copy To Clipboard</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="helpDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Help
              </a>
              <div class="dropdown-menu" aria-labelledby="helpDropdown">
                <a
                  class="dropdown-item"
                  href="https://github.com/greenido/multi-LLM-at-once"
                  target="_blank"
                  >Source Code</a
                >
                <a
                  class="dropdown-item"
                  href="https://x.com/greenido"
                  target="_blank"
                  >Contact</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid h-100">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <!-- <label for="context-input">Context:</label> -->
            <input
              type="text"
              class="form-control"
              id="context-input"
              placeholder="Enter context here... You are a world class expert in AI..."
              value="<%= context %>"
            />
          </div>
          <button
            type="button"
            class="btn btn-primary float-right"
            id="set-context-btn"
          >
            Update Context
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <h3>
              <label for="chat-log-1">🐑 LLame2</label>
              <span
                id="spinner"
                class="spinner-border spinner-border-sm d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </h3>

            <textarea
              class="form-control custom-height"
              id="chat-log-1"
              rows="20"
              placeholder="..."
            ></textarea>
            <div class="input-group-append copy-btn-div">
              <button
                class="btn btn-outline-secondary llame-copy-btn"
                type="button"
                data-toggle="tooltip"
                data-placement="top"
                title="Copy to clipboard"
              >
                <i class="fa-solid fa-copy"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <h3>
              <label for="chat-log-2">⛵️ Mistral</label>
              <span
                id="spinner-mistral"
                class="spinner-border spinner-border-sm d-none"
                role="status"
                aria-hidden="true"
              ></span>
            </h3>

            <textarea
              class="form-control custom-height"
              id="chat-log-2"
              rows="20"
              placeholder="..."
            ></textarea>
            <div class="input-group-append copy-btn-div">
              <button
                class="btn btn-outline-secondary m-copy-btn"
                type="button"
                data-toggle="tooltip"
                data-placement="top"
                title="Copy to clipboard"
              >
                <i class="fas fa-copy"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <!-- <label for="chat-input">Your request:</label> -->
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="chat-input"
                placeholder="Enter your message"
              />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-primary"
                  id="send-query-btn"
                >
                  Send
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

   <script src="js/main.js"></script>
  </body>
</html>
